<header class="site-header">
  <a class="site-title" href="{{ site.baseurl }}/"><h1 class="site-title">{{ site.title}}</h1></a>

  <!-- <label class="theme_changer">
    <input theme_toggle type="checkbox">
    <div class="toggle-button"></div>
  </label> -->

  <nav class="navbar">
    <ul>
      <li class="nav-item ganchal"><a href="{{ site.baseurl }}/갠촬">갠촬</a></li>
      <li class="nav-item event"><a href="{{ site.baseurl }}/행사장">행사장</a></li>
      <li class="nav-item events"><a href="{{ site.baseurl }}/행사별">행사별</a></li>
      <li class="nav-item models"><a href="{{ site.baseurl }}/models">모델별</a></li>
      <li class="nav-item search"><a href="{{ site.baseurl }}/search">검색🔎</a></li>
    </ul>
  </nav>
</header>
