---
layout: default
title: Models
permalink: /models/
render_with_liquid: true
---

{%- assign latest_posts = "" | split: "" -%}
{% for category in site.permitted_categories %}
  {% assign posts_in_cat = site.posts | where_exp:"p","p.categories contains category" %}
  {% assign sorted = posts_in_cat | sort: "date" | reverse %}
  {% assign latest = nil %}
  {% for p in sorted %}
    {% unless p.categories contains "히든" or p.categories contains "행사장" or p.categories contains "트윈" %}
      {% assign latest = p %}
      {% break %}
    {% endunless %}
  {% endfor %}

  {% if latest %}
    {% capture info %}{{ category }}|{{ latest.title }}|{{ latest.preview }}{% endcapture %}
    {% assign latest_posts = latest_posts | push: info %}
  {% endif %}
{% endfor %}

{%- assign event_posts = "" | split: "" -%}
{% for category in site.permitted_categories %}
  {% assign posts_in_cat = site.posts | where_exp:"p","p.categories contains category" %}
  {% assign sorted = posts_in_cat | sort: "date" | reverse %}
  {% assign latest = nil %}
  {% for p in sorted %}
    {% unless p.categories contains "히든" or p.categories contains "트윈" %}
      {% assign latest = p %}
      {% break %}
    {% endunless %}
  {% endfor %}

  {% if latest %}
    {% capture info %}{{ category }}|{{ latest.title }}|{{ latest.preview }}{% endcapture %}
    {% assign event_posts = event_posts | push: info %}
  {% endif %}
{% endfor %}

{%- assign event_only = "" | split: "" -%}
{% for e in event_posts %}
  {% assign e_nickname = e | split:"|" | first %}
  {% assign duplicate = false %}
  {% for l in latest_posts %}
    {% assign l_nickname = l | split:"|" | first %}
    {% if e_nickname == l_nickname %}
      {% assign duplicate = true %}
      {% break %}
    {% endif %}
  {% endfor %}
  {% unless duplicate %}
    {% assign event_only = event_only | push: e %}
  {% endunless %}
{% endfor %}

{%- assign latest_posts_sorted = latest_posts | concat: event_only -%}


<p class="archive_type">모델별 ({{ latest_posts_sorted | size }})</p>

{% for item in latest_posts_sorted %}
  {% assign parts = item | split: "|" %}
  {% assign nickname = parts[0] %}
  {% assign title = parts[1] %}
  {% assign preview = parts[2] %}

  {%- assign i = forloop.index0 | modulo: 2 -%}

  {% if forloop.first or i == 0 %}
    <div class="row">
  {% endif %}

  <div class="column column-50">
    <div class="preview-panel">
      <a href="{{ nickname }}">
        <img src="{{ preview }}">
      </a>
      <div class="post-title">{{ nickname }} 님</div>
    </div>
  </div>

  {% if i == 1 or forloop.last %}
    </div>
  {% endif %}
{% endfor %}
